name: ZSTD

on:
  push:
    branches:
      - main
    tags:
      - 'ZSTD-v*'

  workflow_dispatch:

jobs:

  zstd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: setting_up
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        run:  |
          sudo apt update
          sudo apt install -y wget zstd zip zlib1g-dev openjdk-8-jdk python perl git git-lfs libncurses5 xmlstarlet virtualenv xz-utils p7zip-full

      - name: installing gdown and downloading image
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        run:  |
          mkdir -p /home/runner/downloads/gsi
          mkdir -p /home/runner/gsi
          wget -q "https://sabina.amyrom.ml/phhgsis/protonaosp/proton-12.1.0-a1-arm64_bvN-lite.img.zst" -P /home/runner/downloads/gsi/
          cd /home/runner/downloads/gsi
          xz -k -v -c -9 proton-12.1.0-a1-arm64_bvN-lite.img.zst -T0 > /home/runner/gsi/proton-12.1.0-a1-arm64_bvN-lite.img.xz

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "/home/runner/gsi/*.xz"
          token: ${{ secrets.UNS }}
          tag: "ProtonAOSPv1"

